* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

table {
	width: 1050px;
	border-collapse: collapse;
	margin: 50px auto;
}

tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #3498db;
	color: white;
	font-weight: bold;
}

td,
th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 18px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
	table {
		width: 100%;
	}
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		border: 1px solid #ccc;
	}
	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		content: attr(data-column);
		color: #000;
		font-weight: bold;
	}
}

.pagination {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin-top: 10px;
}

.pagination li {
	display: inline;
	text-align: center;
}

.pagination a {
	float: left;
	display: block;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 12px;
	color: #fff;
	margin-left: -1px;
	border: 1px solid transparent;
	line-height: 1.5;
}

.pagination a.active {
	cursor: default;
}

.pagination a:active {
	outline: none;
}

.modal-1 li:first-child a {
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 0 0 6px;
}

.modal-1 li:last-child a {
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0;
	border-radius: 0 6px 6px 0;
}

.modal-1 a {
	border-color: #ddd;
	color: #3498db;
	background: #fff;
}

.modal-1 a:hover {
	background: #eee;
}

.modal-1 a.active,
.modal-1 a:active {
	border-color: #4285F4;
	background: #4285F4;
	color: #fff;
}

/* ======== Media Queries */
@media only screen and (min-width : 240px) {
	
	h1 {
			font: 500 200%/100% Ubuntu;
			margin: 0 0 30px 10px;
      text-align: center;
	}
	
	label {
		display: block;
		margin: 0 0 10px 10px;
	}
	
	#contact label {
		width: 23%;
		font-size: 150%;
		text-align: left;
	}
	
	#contact select {
		width: 94.3%;
		font-size: 100%;
		margin-left: 10px;		
	}
	
	#contact .button {
		margin-left: 10px;
		font-size: 130%;
	}
}


@media only screen and (min-width : 480px) {
	
	h1 {
			font: 500 160%/100% Ubuntu;
			margin: 0 0 20px 10px;
	}
	
	label,
	input{display: inline-block}
	
	#contact label {
		font-size: 100%;
		width: 20%;
		text-align: right;
	}
	
	#contact label[for=message] {vertical-align: top}
	
	#contact select {			
			width: 66.6667%;
	}
	
	#contact .button {
		margin-left: 45%;
		font-size: 90%;
	}
}


.container {
  max-width: 600px;
  margin: 3.33334% auto;
}

/* ======== Divider */
.line {
  clear: both;
  padding: 15px 0;
  border-top: 1px solid #EBEBEB;
}

#contact select {
		color: #666;		
		box-sizing: border-box;
		border: 1px solid #CCC;
		border-radius: 3px;
		padding: 5px 8px;
}


#contact select:focus {
		outline: none;
		box-shadow: inset 1px 2px 3px #CCC;
}

/* Submit button */
#contact .button {
		padding: 10px 15px;
		border: 1px solid #1A4F82;
		border-radius: 3px;
		color: #fff;
		font-weight: 300;
		background-color: #4285F4;
		cursor: pointer;
    text-align: center;
}
